<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	 <test  name="Test">
		 <parameter name="browser" value="chrome"/>
    <classes>
		<class name="com.Bestbuy.tests.BestBuySignupTest"/>
		<class name="com.Bestbuy.tests.BestBuyBottomPageTest"/> 
		<class name="com.Bestbuy.tests.BestBuyMenuTest"/>  
			
		<class name="com.Bestbuy.tests.BestBuyAddItemsTest"/>
		
	<!--<class name="com.Bestbuy.tests.BestBuySignin_NegativeTest"/>
		<class name="com.Bestbuy.tests.BestBuySearch_NegativeTest"/>-->
		<class name="com.Bestbuy.utils.Reports" />
 </classes>
  </test> 
  <!--
 
		<class name="com.Bestbuy.utils.SelWrappers"/>
		<class name="com.Bestbuy.utils.BestWrappers"/>
		<class name="com.Bestbuy.utils.Reports" />-->
		
	
  
</suite> 
